<html layout:decorate="~{base}" th:with="currentPage='error'" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>Restaurant - Error</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
  </head>
  <body>
    <div layout:fragment="content" class="w-100 p-2">
      <h1 style="text-align: center;">OOooopppss!</h1>
      <h3 style="text-align: center;">Well, uhm, I can explain!</h3>
      <h5 style="text-align: center;">It was probably someone elses fault!</h5>
    </div>
  </body>
</html>